<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="font/iconfont.css">
	<link rel="stylesheet" href="css/classify.css">
	<title>classify</title>
</head>
<body>
<div class="container">
	<header class="header">
		<a href="javascript:;" class="iconfont hos" style="display:none">&#xe623;</a>
		<h4 id="tit">所有分类</h4>
		<!-- <a title="search.html" ui-sref="search" href="search.html?address=classify.html" class="iconfont hos">&#x343e;</a> -->
	</header>
	<main class="main" id="main">
		<div class="scroll">
		<dl>
			<dt><img src="images/classify_03.png" alt=""></dt>
			<dd>
				<h4>钻石</h4>
				<small>钻石男戒/钻石吊坠/钻石手链</small>
				<span><img src="images/classify_14.png" alt=""></span>
			</dd>
		</dl>
		<dl>
			<dt><img src="images/classify_06.png" alt=""></dt>
			<dd>
				<h4>K金</h4>
				<small>戒指/吊坠/项链</small>
				<span><img src="images/classify_14.png" alt=""></span>
			</dd>
		</dl>
		<dl>
			<dt><img src="images/classify_08.png" alt=""></dt>
			<dd>
				<h4>黄金</h4>
				<small>黄金戒指/黄金吊坠/黄金项链</small>
				<span><img src="images/classify_14.png" alt=""></span>
			</dd>
		</dl>
		<dl>
			<dt><img src="images/classify_10.png" alt=""></dt>
			<dd>
				<h4>铂金</h4>
				<small>铂金戒指/铂金吊坠/铂金项链</small>
				<span><img src="images/classify_14.png" alt=""></span>
			</dd>
		</dl>
		<dl>
			<dt><img src="images/classify_12.png" alt=""></dt>
			<dd>
				<h4>时尚饰品</h4>
				<small>金镶玉/珍珠/翡翠</small>
				<span><img src="images/classify_14.png" alt=""></span>
			</dd>
		</dl>
		<dl>
			<dt><img src="images/classify_18.png" alt=""></dt>
			<dd>
				<h4>红蓝宝石</h4>
				<small>吊坠/戒指/耳钉</small>
				<span><img src="images/classify_14.png" alt=""></span>
			</dd>
		</dl>
		</div>
	</main>
	<footer class="footer">
		<a title="home.html" ui-sref="home" data-tit="维诺珠宝">
			<b class="iconfont">&#xe600;</b>
			首页
		</a>
		<a title="classify.html" ui-sref="classify" class="on" data-tit="所有分类">
			<b class="iconfont">&#xe62b;</b>
			分类
		</a>
		<a title="shopping.html" ui-sref="shopping" data-tit="购物车">
			<b class="iconfont">&#xe603;</b>
			购物车
		</a>
		<a title="mine.html" ui-sref="mine" data-tit="个人中心">
			<b class="iconfont">&#xf007c;</b>
			我的
		</a>
	</footer>
</div>	
</body>
</html>
<script src="js/zepto.min .js"></script>
<script src="js/iscroll5.js"></script>
<script>
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	/*--------------IScroll-------------------*/
	var main=new IScroll("#main");
	
</script>