<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>diamond</title>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="font/iconfont.css">
	<link rel="stylesheet" href="css/diamond.css">
</head>
<body>
<div class="container">
	<header class="header">
		<a title="home.html" ui-sref="home"><img src="images/diamond_03.png" alt=""></a>
		<h4>璀璨钻石</h4>
	</header>
	<main class="main" id="main">
		<div class="scroll">
			<p id="title">
				<span>默认</span>
				<span>销量</span>
				<span>人气</span>
				<span>价格</span>
			</p>
			<dl class="goods">
				<dt>
					<img src="images/diamond_07.png" alt="">
				</dt>
				<dd>
					<h4>18K玫瑰金/钻石戒指/情侣戒/爱之力</h4>
					<p>价格：<span>¥1945.00元</span><i>¥2042.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">100人喜欢
						<em>销量：500件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/diamond_10.png" alt="">
				</dt>
				<dd>
					<h4>18K钻石"绽放"戒指吊坠耳钉套餐</h4>
					<p>价格：<span>¥4999.00元</span><i>¥5248.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">50人喜欢
						<em>销量：20件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/diamond_12.png" alt="">
				</dt>
				<dd>
					<h4>GLA吊坠70分&nbsp;黄钻</h4>
					<p>价格：<span>¥53405.00元</span><i>¥56075.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">0人喜欢
						<em>销量：192件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/diamond_14.png" alt="">
				</dt>
				<dd>
					<h4>18K钻石情侣戒</h4>
					<p>价格：<span>¥2888.00元</span><i>¥56075.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">15人喜欢
						<em>销量：20件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/diamond_16.png" alt="">
				</dt>
				<dd>
					<h4>18K钻石吊坠 彩玫瑰金吊坠&nbsp;八箭八心 结婚吊坠 (赠精美项链)</h4>
					<p>价格：<span>¥4999.00元</span><i>¥5248.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">50人喜欢
						<em>销量：20件</em>
					</b>
				</dd>
			</dl>
		</div>
			
	</main>
</div>
	
</body>
</html>
<script src="js/zepto.min .js"></script>
<script src="js/iscroll5.js"></script>
<script>
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	
	/*--------------IScroll-------------------*/
	var main=new IScroll("#main");
</script>