<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="format-detection" content="email=no"/>
	<link rel="stylesheet" href="css/public.css">
	<link rel="stylesheet" href="font/iconfont.css">
	
	<title>mine</title>
</head>
<body>
<div class="container">
	<header class="header">
		<h4 id="tit">个人中心</h4>	
	</header>
	<main class="main" id="main">
		<div class="scroll">
			<dl id="promise">
				<dt>
					<img src="images/mine_15.png" alt="">
				</dt>
				<dd>
					<h4>唯一的诺言&nbsp;&nbsp;<a href="javascript:;">|&nbsp;&nbsp;退出</a></h4>
					<small>
						您的等级是会员
					</small>
				</dd>
			</dl>
			<ul id="info">
				<li>
					<dl>
						<dt><img src="images/mine_03.png" alt=""></dt>
						<dd>收货地址</dd>
					</dl>
					<dl>
						<dt><img src="images/mine_05.png" alt=""></dt>
						<dd>手机认证</dd>
					</dl>
					<dl>
						<dt><img src="images/mine_07.png" alt=""></dt>
						<dd>资金流动</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><img src="images/mine_12.png" alt=""></dt>
						<dd>客户服务</dd>
					</dl>
					<dl>
						<dt><img src="images/mine_13.png" alt=""></dt>
						<dd>修改密码</dd>
					</dl>
					<dl>
						<dt><img src="images/mine_14.png" alt=""></dt>
						<dd>我的收藏</dd>
					</dl>
				</li>
			</ul>
			<dl class="goods">
				<dt>
					<img src="images/shopping_06.png" alt="">
				</dt>
				<dd>
					<h4>18K玫瑰金/钻石戒指/情侣戒/爱之力</h4>
					<p>价格：<span>¥1945.00元</span><i>¥2042.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">100人喜欢
						<em>销量：500件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/shopping_09.png" alt="">
				</dt>
				<dd>
					<h4>18K玫瑰金/钻石戒指/情侣戒/爱之力</h4>
					<p>价格：<span>¥1945.00元</span><i>¥2042.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">100人喜欢
						<em>销量：500件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/shopping_06.png" alt="">
				</dt>
				<dd>
					<h4>18K玫瑰金/钻石戒指/情侣戒/爱之力</h4>
					<p>价格：<span>¥1945.00元</span><i>¥2042.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">100人喜欢
						<em>销量：500件</em>
					</b>
				</dd>
			</dl>
			<dl class="goods">
				<dt>
					<img src="images/shopping_09.png" alt="">
				</dt>
				<dd>
					<h4>18K玫瑰金/钻石戒指/情侣戒/爱之力</h4>
					<p>价格：<span>¥1945.00元</span><i>¥2042.00元</i></p>
					<b>
						<img src="images/mine_16.png" alt="">100人喜欢
						<em>销量：500件</em>
					</b>
				</dd>
			</dl>
		</div>
	</main>
	<footer class="footer">
		<a title="home.html" ui-sref="home" data-tit="维诺珠宝">
			<b class="iconfont">&#xe600;</b>
			首页
		</a>
		<a title="classify.html" ui-sref="classify" data-tit="所有分类">
			<b class="iconfont">&#xe62b;</b>
			分类
		</a>
		<a title="shopping.html" ui-sref="shopping" data-tit="购物车">
			<b class="iconfont">&#xe603;</b>
			购物车
		</a>
		<a title="mine.html" ui-sref="mine" class="on" data-tit="个人中心">
			<b class="iconfont">&#xf007c;</b>
			我的
		</a>
	</footer>
</div>	
</body>
</html>
<script src="js/zepto.min .js"></script>
<script src="js/iscroll5.js"></script>
<script>
	document.documentElement.style.fontSize=document.documentElement.clientWidth/7.5+'px';
	/*--------------IScroll-------------------*/
	var main=new IScroll("#main");
</script>